
<div class="container row">
    <h1>About</h1>

</div>
<hr>
<div class="about-container row container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, mollitia eligendi ratione commodi, veniam quia nulla eum culpa quae voluptatum officia neque hic? Ducimus nemo officia aliquid, exercitationem necessitatibus eligendi.</p>

        <h3>How We Work</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, mollitia eligendi ratione commodi, veniam quia nulla eum culpa quae voluptatum officia neque hic? Ducimus nemo officia aliquid, exercitationem necessitatibus eligendi.</p>

        <h3>Contact Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, mollitia eligendi ratione commodi, veniam quia nulla eum culpa quae voluptatum officia neque hic? Ducimus nemo officia aliquid, exercitationem necessitatibus eligendi.</p>

        <h3>Privacy Policy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, mollitia eligendi ratione commodi, veniam quia nulla eum culpa quae voluptatum officia neque hic? Ducimus nemo officia aliquid, exercitationem necessitatibus eligendi.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, mollitia eligendi ratione commodi, veniam quia nulla eum culpa quae voluptatum officia neque hic? Ducimus nemo officia aliquid, exercitationem necessitatibus eligendi.</p>
    </div>
    <div class="col-md-1"></div>
</div>